.app-container {
  margin: 10px;
  font-size-adjust: auto;
}

.body {
  background-image: url("http://facweb.cs.depaul.edu/sgrais/images/Ockham/dribbble_acme_800_logo.jpg");
}

.nav {
  background-color: green;
  color: white;
  padding: 15px;
  border-radius: 25px;
  border: solid 5px black;
}

.nav-item-container {
  display: flex;
  justify-content: space-around;
}

.nav-item-container > li {
  font-size: 25px;
  list-style: none;
  transition: text-shadow 0.5s ease;
  transition: font-size 0.5s ease;
}

.nav-item-container :hover {
  text-shadow: 3px 3px 5px red;
  font-size: 36px;
}

.jumbotron {
  border: solid 10px lightblue;
  margin: 10px;
  padding: 10px;
  text-align: center;
  background-color: lightgrey;
  font-size: 32px;
  transition: text-shadow 1s ease;
}

.jumbotron-header {
  transition: text-shadow 2s ease;
  transition: font-size 0.5s ease;
}

.jumbotron-header :hover {
  text-shadow: 2px 2px 5px purple;
  font-size: 46px;
}

.img {
  width: 200px;
  height: 200px;
}

.chat-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.chat-container > div {
  width: 25%;
}

.acme-container {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  justify-content: center;
}

/* Pulse Grow - Courtesey IanLunn  https://github.com/IanLunn/Hover/blob/master/css/hover.css*/
@-webkit-keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(4.1);
    transform: scale(4.1);
  }
}
@keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(4.1);
    transform: scale(4.1);
  }

.acme-cust-info {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  }
}

.acme-cust-info {
  border: solid 5px black;
  border-radius: 30px;
  width: 33.333333%;
  margin: 10px;
  text-align: center;
  background-color: red;
}

.acme-cust-info:hover, .acme-cust-info:focus, .acme-cust-info:active {
  -webkit-animation-name: hvr-pulse-grow;
  animation-name: hvr-pulse-grow;
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

.cust-img {
  width: inherit;
  height: inherit;
  border: solid 2px grey;
}

.acme-jumbotron {
  text-align: center;
  border: solid 5px lightblue;
  border-radius: 30px;
  font-family: fantasy;
  font-size: 32px;
  text-shadow: lightblue 3px 3px 4px;
  color: black;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

.acme-jumbotron :hover {
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
  color: white;
  text-shadow: grey 3px 3px 4px;
}

.open-btn {
  background-color: red;
  border-radius: 20px;
  font-size: 24px;
}

.close-btn {
  background-color: green;
  border-radius: 20px;
  font-size: 24px;
}
