.app-container {
  margin: 10px;
}

.nav {
  background-color: green;
  color: white;
  padding: 15px;
  border-radius: 25px;
  border: solid 5px black;
}

.nav-item-container {
  display: flex;
  justify-content: space-around;
}

.nav-item-container > li {
  font-size: 25px;
  list-style: none;
  transition: text-shadow 0.5s ease;
  transition: font-size 0.5s ease;
}

.nav-item-container :hover {
  text-shadow: 3px 3px 5px red;
  font-size: 36px;
}

.jumbotron {
  border: solid 10px lightblue;
  margin: 10px;
  padding: 10px;
  text-align: center;
  background-color: lightgrey;
  font-size: 32px;
  transition: text-shadow 1s ease;
}

.jumbotron-header {
  transition: text-shadow 2s ease;
  transition: font-size 0.5s ease;
}

.jumbotron-header :hover {
  text-shadow: 2px 2px 5px purple;
  font-size: 46px;
}

.img {
  width: 200px;
  height: 200px;
}

.chat-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.chat-container > div {
  width: 25%;
}

.acme-container > div {
  width: 25%;
}
